<template>
  <v-row>
    <TSComp :user="{ name: 'hello' }"> </TSComp>
  </v-row>
</template>

<script>
import TSComp from '@/components/TSComp'
export default {
  components: {
    TSComp
  }
}
</script>
