<template>
  <div>Name: {{ name }}</div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

interface User {
  name: string
}

@Component
class TSComp extends Vue {
  @Prop({ type: Object, required: true }) readonly user!: User

  message: string = 'internal data'

  get name(): string {
    return `${this.user.name}: ${this.message}`
  }
}

export default TSComp
</script>
